@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box ;
}

:root{
    --black: rgb(0, 0, 0);
    --blue: rgb(20, 50, 220);

}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'sans-serif', Helvetica, Arial;
    color: var(--black);
}

h2 {
    font-size: 25px;
    font-family: 'sans-serif', Helvetica, Arial;
    font-style: italic;
    color:var(--blue);
    font-weight: 700;
}

p {
    font-size: 22px;
    font-family:'sans-serif', Helvetica, Arial;   
}

a {
    font-size: 22px;
    font-family:'sans-serif', Helvetica, Arial;
       
}
body {
    background-image: url(../images/background.jpg);
    background-position-x: left;
    
}


.flex {
    display:flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 20px auto;
}

.container {
    width: 1200px;
    border: 4px solid var(--black);
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px 20px;
    display: block;
    align-items: center;
    flex-wrap: wrap;
}